/*  font file*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* --------------------------common styles ----------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 70%;
}

/* menu-1st-part styles */
.top-part {
  background-color: rgb(17, 61, 158);
  padding-top: 40px;

  height: 650px;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menubar ul {
  display: flex;
}

.menubar li {
  list-style: none;
}
.menubar a {
  text-decoration: none;
  color: #fff;
  margin-right: 36px;
}
.rightbar span {
  background-color: #da9a29;
  color: #fff;
  padding: 11px 26px;
}
.fa-sign-in-alt {
  margin-right: 10px;
}

/* menu-2nd-part styles */

.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 80px;
}

.half-width .menu-title {
  color: #fff;
  margin-bottom: 36px;
  width: 400px;
  height: 130px;
}
.button {
  background-color: #da9a29;
  padding: 10px 25px;
}
.button a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}
.fa-arrow-right {
  color: #fff;
}
.half-width img {
  width: 556.01px;
  height: 438px;
}

/* players blog styles */

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
  justify-items: center;
  align-items: center;
  margin: 70px 0;
  grid-gap: -30px;
}
.player {
  width: 330px;
  height: 474px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding: 15px;
  margin-bottom: 27px;
}
.player img {
  width: 300px;
  height: 256px;
  background-color: #fff;
}
.name {
  margin-top: 16px;
}
.player-details {
  color: #616161;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

/* <!-- match part styles --> */
.match {
  margin-bottom: 158px;
}
.match-title {
  font-size: 48px;
  width: 469px;
  height: 120px;
}
.match-info {
  color: #6c6c6c;
  width: 404px;
  height: 113px;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 24px;
}

/* contact section part styles */

.contact {
  background: #da9a29;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  margin-bottom: 70px;
  height: 680px;
}
.contact-details {
  width: 600px;

  position: relative;
  left: 180px;
}
.contact-title {
  color: #fff;
  font-size: 48px;
  margin: 40px 0;
}

.contact label {
  color: #fff;
}
.contact input {
  padding: 10px 100px;
  margin-bottom: 15px;
}
form p {
  color: #e0d8d8;
  margin-left: 20px;
}

.subscribe {
  background-color: rgb(17, 61, 158);
  padding: 20px 100px;
  color: #fff;
  border: none;
  font-size: 20px;
  margin-top: 30px;
}
.contact-details {
  width: 600px;
  height: 830px;
  position: rela;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 63px;
}
.footer-title img {
  width: 483.87px;
  height: 110px;
}
.social-icon {
  height: 32px;
  margin: 20px 0;
}
.fab {
  color: #616161;
  background-color: #cccaca;
  padding: 10px;
  margin-right: 14px;
  border-radius: 50%;
}
